page-confirmation {
    .background-burgundy{
        background:#A32020;
    }
    .position-icon{
        position:absolute;
        width:300px;
        height:50%;
        top:50%;
        left:50%;
        margin-left:-150px;
        margin-top:-50px;
    }
    .tick-icon{
        font-size: 90px;
        color: white;
    }    
}
